body {
  background-color: var(--bs-bg-body);
}

.btn-group {
  gap: 3px;
}

.growth-card,
.summary-card {
  font-family: "Roboto", sans-serif;
}

main {
  height: 100vh;
  width: 100%;
}
main-container {
  overflow: hidden;
}
.content {
  min-height: 30rem;
  height: 75vh;
}
.content-img {
  background: linear-gradient(to bottom, #ffffff00, #61616121, #61616169);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.content-img__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -21;
  object-fit: cover;
  transform: scale(1.05);
  height: 100%;
}

/*  */
